# Reescreve todas as requisições para o index.php (Front Controller)
Options -MultiViews
RewriteEngine On

# Não redireciona arquivos e pastas que existem fisicamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para o index.php
RewriteRule ^(.*)$ index.php [QSA,L]
