# Redireciona todas as requisições para o index.php (Front Controller)
Options -MultiViews
RewriteEngine On

# Não redireciona arquivos físicos (ex: vendor, public)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tudo passa pelo index.php
RewriteRule ^(.*)$ index.php [QSA,L]
